.checkSuccess {
  color: green;
}

.checkError, .checkFailed {
  color: red;
}

#mainform .box-content .block,
#response-galby .box-content .block,
#response-utilisateur .box-content .block,
#response-check .box-content .block
{
  padding: 3px 7px;
  margin-bottom: -2px;
}


#mainform div.context-block div.context-toolbar p, div.context-block div.context-information p,
#response-galby div.context-block div.context-toolbar p, div.context-block div.context-information p,
#response-utilisateur div.context-block div.context-toolbar p, div.context-block div.context-information p,
#response-check div.context-block div.context-toolbar p, div.context-block div.context-information p {
  font-size: 1em;
}

#response-utilisateur div.content-navigation-childlist table.list th {
  width: auto;
}

#response-utilisateur div.content-navigation-childlist table.list a:hover {
  background-color: none;
}