<?php /* #?ini charset="utf-8"?

[DatabaseSettings]
DatabaseImplementation=ezmysql
Server=localhost
Port=
User=root
Password=
Database=eby
Charset=
Socket=disabled


[SiteAccessSettings]
CheckValidity=false
ForceVirtualHost=true
AvailableSiteAccessList[]=fre
AvailableSiteAccessList[]=bouygues_gestion
MatchOrder=host
HostMatchType=map
HostMatchMapItems[]=dev.eby.local;fre
HostMatchMapItems[]=admin.eby.local;bouygues_gestion

[RegionalSettings]
TranslationExtensions[]=bouygues
TranslationCheckMTime=disabled

[TemplateSettings]
AutoloadPathList[]=extension/bouygues/autoloads

[UserSettings]
LogoutRedirect=/

[Instance]
Serveur=integ
Chemin=/home/solune/Workspace2/1112.bouygues.eby/

[NODE_ID]
actu_groupe=11695
site_groupe=11612
*/ ?>