.color1{color:#b3320a}
.color2{color:#f96000;text-decoration:none}
.color2:hover{color:#2376c6}
.color3{color:#93b8e5}
.color4{color:#a1c3e8}
.color5{color:#fee6c0}
.colorDefault1, #lmenu .colorDefault1{color:#646464}
.colorDefault2{color:#ffffff}
.bgColor1{background-color:#b3320a}
.bgColor2{background-color:#f96000}
.bgColor3{background-color:#fc9a01}
.bgColor4{background-color:#feca77}
.bgColor5{background-color:#fee6c0}
.border4{border:1px solid #ccdaf7}
.border1{border:1px solid #b3320a}
.btn-filiere-arrow-left{background:transparent url('../../images/arrows/default/arrowB.png') no-repeat 0 4px}
.boxA .top .left, .plus-diaporama .boxA .top .left{background-image:url(../../images/boxes/default/tLeft.gif)}
.boxA .top .middle,  .plus-diaporama .boxA .top .middle{background-image:url(../../images/boxes/default/tMiddle.gif)}
.boxA .top .right,  .plus-diaporama .boxA .top .right{background-image:url(../../images/boxes/default/tRight.gif)}
.boxA .content,  .plus-diaporama .boxA .content{border-left:1px solid #dceaf9;border-right:1px solid #dceaf9;background-color:#f0f6fd}
.boxA .bottom .left, .plus-diaporama .boxA .bottom .left{background-image:url(../../images/boxes/default/bLeft.gif)}
.boxA .bottom .middle, .plus-diaporama .boxA .bottom .middle{background-image:url(../../images/boxes/default/bMiddle.gif)}
.boxA .bottom .right, .plus-diaporama .boxA .bottom .right{background-image:url(../../images/boxes/default/bRight.gif)}
.user a,.tools a,.plus a,.annuaire a,.file .content1 a,.file .content2 a,.prestataire a,.masterPage a,.rssPage a,.ezsearch .text a:hover,.ezsearch .bloc-search a:hover,.homePage .topLeft .information .mode-image .middle .one-item a,.homePage .topLeft .information .mode-image .middle .two-item a,.static a,.userRegistration a,.post a{color:#ec5715}
.user a:hover,.tools a:hover,.annuaire a:hover,.plus a:hover,.file .content1 a:hover,.file .content2 a:hover,.prestataire a:hover,.masterPage a:hover,.rssPage a:hover,.ezsearch .text a,.ezsearch .bloc-search a,.homePage .topLeft .information .mode-image .middle .one-item a:hover,.homePage .topLeft .information .mode-image .middle .two-item a:hover,.static a:hover,#middle .sitemap a:hover,.userRegistration a:hover,.post a:hover{color:#2376c6}
.image_small_no-link,.image_medium_no-link,.image_medium,.image_small{border:1px solid #d3e2f6}
.image_medium:hover,.image_small:hover{border:1px solid #2576c7}
.whoswho .pagenavigator a{color:#646464}
.whoswho .group a{color:#646464}
.whoswho .group a:hover{color:#2376c6}
#left #lmenu ul ul, #left #lmenu ul li{border-top:1px solid #fc9a01}
#left #lmenu li a{background:transparent url('../../images/arrows/default/arrowC.gif') no-repeat 0% 4px}
#left #lmenu .linkOff{background:transparent url('../../images/arrows/default/arrowD.gif') no-repeat 5px 50%}
#left #lmenu .linkOff:hover{background-image:none;background-color:#4596e7;color:white}
#left #lmenu .linkOff-noArrow {background:none}
#left #lmenu.user .linkOff {background-image:none}
#left #lmenu .linkOff-noArrow:hover{background-color:#4596e7;color:white}
#left #lmenu .linkOn{background-color:#4596e7;color:white}
#left #lmenu .linkOn-noArrow{background-color:#4596e7;color:white} 
#left #lmenu .colorDefault2:hover{font-weight:bold}
#left #lmenu .sbLinkOn{background:transparent url('../../images/arrows/default/arrowA.gif') no-repeat 0% 6px}
.masterPage .content1 .one .boxA .content h4{color:#3f87cf}
.static-group strong{color:#3f87cf}
.masterPage .content4{background:transparent url('../../images/boxes/communication/onlyBackground.jpg') no-repeat}
.masterPage .content1 .one .boxA,.masterPage .content1 .one .boxA .content{background-color:#fee6c0}
.file .content1 .top{background:transparent url('../../images/boxes/communication/specials/file/top.gif') no-repeat top left}
.file .content1 .middle{background:transparent url('../../images/boxes/communication/specials/file/middle.gif') repeat-y}
.file .content1 .bottom{background:transparent url('../../images/boxes/communication/specials/file/bottom.gif') no-repeat bottom left}
.file .content1 ul li .off{background:transparent url('../../images/arrows/communication/arrowD.gif') no-repeat 0 3px}
.file .content1 ul li .on{background:transparent url('../../images/arrows/communication/arrowA.gif') no-repeat 0 3px;color:#b3320a}
.minisite .mMenu ul li a{background:transparent url('../../images/menus/minisite/communication/off.gif') no-repeat 0 10px}
.minisite .mMenu ul li .on,.minisite .mMenu ul li a:hover{background:transparent url('../../images/menus/minisite/communication/on.gif') no-repeat bottom;color:#fc9a01}
.minisite .mMenu ul li .on-first{background:transparent url('../../images/menus/minisite/communication/on-first.gif') no-repeat bottom;color:#fc9a01}
.minisite .mMenu ul li .on-last{background:transparent url('../../images/menus/minisite/communication/on-last.gif') no-repeat bottom;color:#fc9a01}
.minisite .mMenu ul li .off-first:hover{background:transparent url('../../images/menus/minisite/communication/on-first.gif') no-repeat bottom;color:#fc9a01}
.minisite .mMenu ul li .off-last:hover{background:transparent url('../../images/menus/minisite/communication/on-last.gif') no-repeat bottom;color:#fc9a01}
.minisite .file .content1 .top{background:transparent url('../../images/boxes/communication/specials/minisite/top.gif') no-repeat top left}
.minisite .file .content1 .top2{background:none;border-top:1px solid #feca77}
.minisite .file .content1 .middle{background:transparent url('../../images/boxes/communication/specials/minisite/middle.gif') repeat-y}
.minisite .file .content1 .bottom{background:transparent url('../../images/boxes/communication/specials/minisite/bottom.gif') no-repeat bottom left}
.post .column .sBox .second .boxA .content .title{color:#fc9a01}
.default h1{color:#2576c7}
.default h4{color:#69a3e3}
.post table{border:1px solid #b3320a}
.post table .th{color:#b3320a;border:1px solid #b3320a;background-color:#feca77}
.post table .th_hard{color:#b3320a;border:1px solid #b3320a;background-color:#fc9a01}
.post table .td_light{color:#ffffff;border:1px solid #b3320a;background-color:#fc9a01}
.post table .td_hard{color:#ffffff;border:1px solid #b3320a;background-color:#f96000}
.post table td,.post table .td{border:1px solid #b3320a;border-collapse:collapse}
.pagenavigator a.next:hover,.pagenavigator a.previous:hover{background:transparent url('../../images/pagination/default/btnBackground.gif') no-repeat}
.pagenavigator .pages .current{background:transparent url('../../images/pagination/default/pageCurrent.gif') no-repeat}
.pagenavigator .pages .other a:hover{color:#2376c6}
.btn-top-page:hover{background:transparent url('../../images/btns/default/btn-top-page-on.gif')}
a.btn:hover .leftBtn{ background:url('../../images/btns/default/btn-left-on.gif')}
a.btn:hover .labelBtn{ background:url('../../images/btns/default/btn-on.gif')}
a.btn:hover .rightBtn{ background:url('../../images/btns/default/btn-right-on.gif')}
a.btn:hover .right-arrow{ background:url('../../images/btns/default/btn-right-arrow-on.gif')}
#divLightboxContent .lightbox-close:hover{background:transparent url('../../images/btns/default/close.gif') no-repeat}
.btn-next-page:hover{background:transparent url('../../images/btns/default/btn-next.gif') no-repeat}
.btn-previous-page:hover{background:transparent url('../../images/btns/default/btn-previous.gif') no-repeat}
#diaporama .diaporama_previous:hover{background:url('../../images/btns/default/diaporama-previous-on.png')}
#diaporama .diaporama_next:hover{background:url('../../images/btns/default/diaporama-next-on.png')}
#diaporama_lb .diaporama_previous:hover{background:url('../../images/btns/default/diaporama-previous-on.png')}
#diaporama_lb .diaporama_next:hover{background:url('../../images/btns/default/diaporama-next-on.png')}
#diaporama_inc .diaporama_previous:hover{background:url('../../images/btns/default/diaporama-previous-on.png')}
#diaporama_inc .diaporama_next:hover{background:url('../../images/btns/default/diaporama-next-on.png')}
#diaporama_carousel .mycarousel.slide-next, #diaporama_carousel_inc .mycarousel.slide-next{background:url('../../images/btns/default/btn-slide-right.gif')}
#diaporama_carousel .mycarousel.slide-next:hover, #diaporama_carousel_inc .mycarousel.slide-next:hover{background:url('../../images/btns/default/btn-slide-right-on.gif')}
#diaporama_carousel .mycarousel.slide-prev, #diaporama_carousel_inc .mycarousel.slide-prev{background:url('../../images/btns/default/btn-slide-left.gif')}
#diaporama_carousel .mycarousel.slide-prev:hover, #diaporama_carousel_inc .mycarousel.slide-prev:hover{background:url('../../images/btns/default/btn-slide-left-on.gif')}
#diaporama_carousel .mycarousel.slide-next.off, #diaporama_carousel_inc .mycarousel.slide-next.off{background:url('../../images/btns/btn-slide-right-off.gif')}
#diaporama_carousel .mycarousel.slide-prev.off, #diaporama_carousel_inc .mycarousel.slide-prev.off{background:url('../../images/btns/btn-slide-left-off.gif')}
#diaporama_carousel div.item .item_small.on, #diaporama_carousel_inc div.item .item_small.on{border:4px solid #fb9a00}
#diaporama_carousel div.item:hover .item_small{border:4px solid #fb9a00}
#vid_carousel div.item:hover .item_small,#diaporama_carousel_inc div.item:hover .item_small{border:4px solid #fb9a00}
#vid_carousel .mycarousel.slide-next {background:url('../../../images/btns/default/btn-slide-right-video.gif')}
#vid_carousel .mycarousel.slide-next:hover {background:url('../../../images/btns/default/btn-slide-right-on-video.gif')}
#vid_carousel .mycarousel.slide-prev {background:url('../../../images/btns/default/btn-slide-left-video.gif')}
#vid_carousel .mycarousel.slide-prev:hover {background:url('../../../images/btns/default/btn-slide-left-on-video.gif')}
#vid_carousel .mycarousel.slide-next.off {background:url('../../../images/btns/default/btn-slide-right-off-video.gif')}
#vid_carousel .mycarousel.slide-prev.off {background:url('../../../images/btns/default/btn-slide-left-off-video.gif')}
.list-special h1{color:#2477c7}
.list-special .content2 .item h2{color:#67a5e0}
.list-special .content2 .item .boxA .content .overview .hOverview .arrow{visibility:hidden}
.list-special .content2 .item .overview{overflow:hidden;clear:both;height:100%;margin-bottom:15px}
.list-special .content2 .item .overview .hOverview{float:left;width:20%}
.list-special .content2 .boxA .content .overview .clear{float:right;width:80%;clear:none}
.list-special .content2 .boxA .content .overview .clear .subTitle{font-weight:bold}
.list-special .content2 .item .boxA ,.list-special .content2 .item .boxA .top .left,.list-special .content2 .item .boxA .top .middle,.list-special .content2 .item .boxA .top .right,.list-special .content2 .item .boxA .bottom .left,.list-special .content2 .item .boxA .bottom .middle,.list-special .content2 .item .boxA .bottom .right,.list-special .content2 .item .boxA .content .overview,.list-special .content2 .boxA .content .overview,.list-special .content2 .boxA,.list-special .content2 .boxA .top .left,.list-special .content2 .boxA .top .middle,.list-special .content2 .boxA .top .right,.list-special .content2 .boxA .bottom .left,.list-special .content2 .boxA .bottom .middle,.list-special .content2 .boxA .bottom .right{background:none}
.list-special .content2 .boxA .content,.list-special .content2 .item .boxA .content{border:0;background:none}
.list-special .content2 .boxA .content .overview .hOverview .arrow{display:none}
.list-special .content2 .boxA .content .overview  .hOverview{float:left;width:20%}
.list-special .content2 .boxA .content .overview  .clear{float:right;width:80%;clear:none}
.list-special .content2 .boxA .content .overview .clear .subTitle{font-weight:bold}
.rssPage a.color3-default:hover{color:#E96029}
.rssPage a.color3-communication:hover{color:#fc9a01}
.rssPage a.color3-consolidation:hover{color:#0db5e2}
.rssPage a.color3-developpement-durable:hover,.rssPage a.color3-developpement_durable:hover{color:#74ca05}
.rssPage a.color3-imb:hover{color:#585bff}
.rssPage a.color3-informatique:hover{color:#16ad06}
.rssPage a.color3-innovation:hover{color:#0184a2}
.rssPage a.color3-europe:hover{color:#fe0000}
.rssPage a.color3-controle-interne:hover,.rssPage a.color3-controle_interne:hover{color:#d22366}
.rssPage a.color3-rh:hover{color:#a410c4}
.rssPage a.color3-finance:hover,.rssPage a.color3-finances:hover{color:#ba78ff}
.rssPage a.color3-ebyperso:hover{color:#609bd7}