.color1{color:#31013b}
.color2{color:#8c03a9}
.color3{color:#a511c5}
.color4{color:#ce4aed}
.color5{color:#f2d2f9}
.colorDefault1{color:#646464}
.colorDefault2{color:#ffffff}
.bgColor1{background-color:#31013b}
.bgColor2{background-color:#8c03a9}
.bgColor3{background-color:#a511c5}
.bgColor4{background-color:#ce4aed}
.bgColor5{background-color:#f2d2f9}
.border4{border:1px solid #ce4aed}
.border1{border:1px solid #31013b}
.btn-filiere-arrow-left{background:transparent url('../../../images/arrows/rh/arrowB.png') no-repeat 0 4px}
.boxA .top .left, .plus-diaporama .boxA .top .left{background-image:url(../../../images/boxes/rh/tLeft.gif)}
.boxA .top .middle,  .plus-diaporama .boxA .top .middle{background-image:url(../../../images/boxes/rh/tMiddle.gif)}
.boxA .top .right,  .plus-diaporama .boxA .top .right{background-image:url(../../../images/boxes/rh/tRight.gif)}
.boxA .content,  .plus-diaporama .boxA .content{border-left:1px solid #f2d2f9;border-right:1px solid #f2d2f9}
.boxA .bottom .left, .plus-diaporama .boxA .bottom .left{background-image:url(../../../images/boxes/rh/bLeft.gif)}
.boxA .bottom .middle, .plus-diaporama .boxA .bottom .middle{background-image:url(../../../images/boxes/rh/bMiddle.gif)}
.boxA .bottom .right, .plus-diaporama .boxA .bottom .right{background-image:url(../../../images/boxes/rh/bRight.gif)}
.user a,.tools a,.plus a,.file .content1 a,.file .content2 a,.list a,.prestataire a,.masterPage a,.post a{color:#8c03a9}
.user a:hover,.tools a:hover,.plus a:hover,.file .content1 a:hover,.file .content2 a:hover,.list a:hover,.prestataire a:hover,.masterPage a:hover,.post a:hover{color:#a511c5}
.image_small_no-link,.image_medium_no-link,.image_medium,.image_small{border:1px solid #8c03a9}
.image_medium:hover,.image_small:hover{border:1px solid #a511c5}
.whoswho .pagenavigator a{color:#646464}
.whoswho .pagenavigator a:hover{color:#a511c5}
#lmenu li a{background:transparent url('../../../images/arrows/rh/arrowC.gif') no-repeat 0% 4px}
#lmenu .linkOff {background:transparent url('../../../images/arrows/rh/arrowD.gif') no-repeat 5px 50%}
#lmenu .linkOff:hover {background:transparent url('../../../images/arrows/rh/arrowD.gif') no-repeat 2% 10px;background-color:#ce4aed;color:#31013b}
#lmenu .linkOff-noArrow{background:none}
#lmenu .linkOff-noArrow:hover {background-color:#ce4aed;color:#31013b}
#lmenu .linkOn {background:transparent url('../../../images/arrows/rh/arrowA.gif') no-repeat 2% 10px;background-color:#ce4aed}
#lmenu .linkOn-noArrow{background-color:#ce4aed}
#lmenu .colorDefault2:hover{font-weight:bold}
#lmenu .sbLinkOn{background:transparent url('../../../images/arrows/rh/arrowA.gif') no-repeat 0% 8px}
.masterPage .content1 .one .boxA .content h4{color:#31013b}
.masterPage .content4 {background:transparent url('../../../images/boxes/rh/onlyBackground.jpg') no-repeat}
.masterPage .content1 .one .boxA,.masterPage .content1 .one .boxA .content{background-color:#f2d2f9}
.file .content1 .top{background:transparent url('../../../images/boxes/rh/specials/file/top.gif') no-repeat top left}
.file .content1 .middle{background:transparent url('../../../images/boxes/rh/specials/file/middle.gif') repeat-y}
.file .content1 .bottom{background:transparent url('../../../images/boxes/rh/specials/file/bottom.gif') no-repeat bottom left}
.file .content1 ul li .off{background:transparent url('../../../images/arrows/rh/arrowD.gif') no-repeat 0 3px}
.file .content1 ul li .on{background:transparent url('../../../images/arrows/rh/arrowA.gif') no-repeat 0 3px;color:#31013b}
.minisite .mMenu ul li a{background:transparent url('../../../images/menus/minisite/rh/off.gif') no-repeat 0 10px}
.minisite .mMenu ul li .on,.minisite .mMenu ul li a:hover{background:transparent url('../../../images/menus/minisite/rh/on.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu ul li .on-first{background:transparent url('../../../images/menus/minisite/rh/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu ul li .on-last{background:transparent url('../../../images/menus/minisite/rh/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/rh/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/rh/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu2 ul li a{background:transparent url('../../../images/menus/minisite/rh/2/off.gif') no-repeat 0 10px}
.minisite .mMenu2 ul li .on,.minisite .mMenu2 ul li a:hover{background:transparent url('../../../images/menus/minisite/rh/2/on.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu2 ul li .on-first{background:transparent url('../../../images/menus/minisite/rh/2/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu2 ul li .on-last{background:transparent url('../../../images/menus/minisite/rh/2/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu2 ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/rh/2/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu2 ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/rh/2/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu3 ul li a{background:transparent url('../../../images/menus/minisite/rh/3/off.gif') no-repeat 0 10px}
.minisite .mMenu3 ul li .on,.minisite .mMenu3 ul li a:hover{background:transparent url('../../../images/menus/minisite/rh/3/on.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu3 ul li .on-first{background:transparent url('../../../images/menus/minisite/rh/3/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu3 ul li .on-last{background:transparent url('../../../images/menus/minisite/rh/3/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu3 ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/rh/3/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu3 ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/rh/3/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu4 ul li a{background:transparent url('../../../images/menus/minisite/rh/4/off.gif') no-repeat 0 10px}
.minisite .mMenu4 ul li .on,.minisite .mMenu4 ul li a:hover{background:transparent url('../../../images/menus/minisite/rh/4/on.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu4 ul li .on-first{background:transparent url('../../../images/menus/minisite/rh/4/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu4 ul li .on-last{background:transparent url('../../../images/menus/minisite/rh/4/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu4 ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/rh/4/on-first.gif') no-repeat bottom;color:#a511c5}
.minisite .mMenu4 ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/rh/4/on-last.gif') no-repeat bottom;color:#a511c5}
.minisite .file .content1 .top{background:transparent url('../../../images/boxes/rh/specials/minisite/top.gif') no-repeat top left}
.minisite .file .content1 .top2{background:none;border-top:1px solid #ce4aed}
.minisite .file .content1 .middle{background:transparent url('../../../images/boxes/rh/specials/minisite/middle.gif') repeat-y}
.minisite .file .content1 .bottom{background:transparent url('../../../images/boxes/rh/specials/minisite/bottom.gif') no-repeat bottom left}
.post .column .sBox .second .boxA .content .title,.post .box .second .boxA .content .title{color:#a511c5}
.default h1{color:#31013b}
.default h4{color:#a511c5}
.post table{border:1px solid #31013b}
.post table .th{color:#31013b;border:1px solid #31013b;background-color:#ce4aed}
.post table .th_hard{color:#31013b;border:1px solid #31013b;background-color:#a511c5}
.post table .td_light{color:#ffffff;border:1px solid #31013b;background-color:#a511c5}
.post table .td_hard{color:#ffffff;border:1px solid #31013b;background-color:#8c03a9}
.post table td,.post table .td{border:1px solid #31013b}
.list .content2 .boxA .content .overview a.thumb:hover,.list .content2 .boxA .content .overview a.medium:hover,.list .content2 .boxA .content .overview a.big:hover{border:1px solid #31013b}
.pagenavigator a.next:hover,.pagenavigator a.previous:hover{background:transparent url('../../../images/pagination/rh/btnBackground.gif') no-repeat}
.pagenavigator .pages .current{background:transparent url('../../../images/pagination/rh/pageCurrent.gif') no-repeat}
.pagenavigator .pages .other a:hover{color:#a511c5}
.btn-top-page:hover{background:transparent url('../../../images/btns/rh/btn-top-page-on.gif')}
a.btn:hover .leftBtn{background:url('../../../images/btns/rh/btn-left-on.gif')}
a.btn:hover .labelBtn{background:url('../../../images/btns/rh/btn-on.gif')}
a.btn:hover .rightBtn{background:url('../../../images/btns/rh/btn-right-on.gif')}
a.btn:hover .right-arrow{background:url('../../../images/btns/rh/btn-right-arrow-on.gif')}
#divLightboxContent .lightbox-close:hover{background:transparent url('../../../images/btns/rh/close.gif') no-repeat}
.btn-next-page:hover{background:transparent url('../../../images/btns/rh/btn-next.gif') no-repeat}
.btn-previous-page:hover{background:transparent url('../../../images/btns/rh/btn-previous.gif') no-repeat}
#diaporama .diaporama_previous:hover{background:url('../../../images/btns/rh/diaporama-previous-on.png')}
#diaporama .diaporama_next:hover{background:url('../../../images/btns/rh/diaporama-next-on.png')}
#diaporama_lb .diaporama_previous:hover{background:url('../../../images/btns/rh/diaporama-previous-on.png')}
#diaporama_lb .diaporama_next:hover{background:url('../../../images/btns/rh/diaporama-next-on.png')}
#diaporama_inc .diaporama_previous:hover{background:url('../../../images/btns/rh/diaporama-previous-on.png')}
#diaporama_inc .diaporama_next:hover{background:url('../../../images/btns/rh/diaporama-next-on.png')}
#diaporama_carousel .mycarousel.slide-next, #diaporama_carousel_inc .mycarousel.slide-next {background:url('../../../images/btns/rh/btn-slide-right.gif')}
#diaporama_carousel .mycarousel.slide-next:hover, #diaporama_carousel_inc .mycarousel.slide-next:hover {background:url('../../../images/btns/rh/btn-slide-right-on.gif')}
#diaporama_carousel .mycarousel.slide-prev, #diaporama_carousel_inc .mycarousel.slide-prev {background:url('../../../images/btns/rh/btn-slide-left.gif')}
#diaporama_carousel .mycarousel.slide-prev:hover, #diaporama_carousel_inc .mycarousel.slide-prev:hover {background:url('../../../images/btns/rh/btn-slide-left-on.gif')}
#diaporama_carousel .mycarousel.slide-next.off, #diaporama_carousel_inc .mycarousel.slide-next.off {background:url('../../../images/btns/btn-slide-right-off.gif')}
#diaporama_carousel .mycarousel.slide-prev.off, #diaporama_carousel_inc .mycarousel.slide-prev.off {background:url('../../../images/btns/btn-slide-left-off.gif')}
#vid_carousel div.item .item_small.on, #diaporama_carousel div.item .item_small.on, #diaporama_carousel_inc div.item .item_small.on{border:4px solid #cf4aec}
#diaporama_carousel div.item:hover .item_small {border:4px solid #cf4aec}
#vid_carousel div.item:hover .item_small,#diaporama_carousel_inc div.item:hover .item_small{border:4px solid #cf4aec}
.diaporama_lb_legend a{color:#8c03a9}
#vid_carousel .mycarousel.slide-next {background:url('../../../images/btns/rh/btn-slide-down.gif')}
#vid_carousel .mycarousel.slide-next:hover {background:url('../../../images/btns/rh/btn-slide-down-on.gif')}
#vid_carousel .mycarousel.slide-prev {background:url('../../../images/btns/rh/btn-slide-up.gif')}
#vid_carousel .mycarousel.slide-prev:hover {background:url('../../../images/btns/rh/btn-slide-up-on.gif')}
#vid_carousel .mycarousel.slide-next.off {background:url('../../../images/btns/btn-slide-down-off.gif')}
#vid_carousel .mycarousel.slide-prev.off {background:url('../../../images/btns/btn-slide-up-off.gif')}