.color1{color:#0d106f}
.color2{color:#383cff}
.color3{color:#585bff}
.color4{color:#9598ff}
.color5{color:#e4e6ff}
.colorDefault1{color:#646464}
.colorDefault2{color:#ffffff}
.bgColor1{background-color:#0d106f}
.bgColor2{background-color:#383cff}
.bgColor3{background-color:#585bff}
.bgColor4{background-color:#9598ff}
.bgColor5{background-color:#e4e6ff}
.border4{border:1px solid #9598ff}
.border1{border:1px solid #0d106f}
.btn-filiere-arrow-left{background:transparent url('../../../images/arrows/imb/arrowB.png') no-repeat 0 4px}
.boxA .top .left, .plus-diaporama .boxA .top .left{background-image:url(../../../images/boxes/imb/tLeft.gif)}
.boxA .top .middle,  .plus-diaporama .boxA .top .middle{background-image:url(../../../images/boxes/imb/tMiddle.gif)}
.boxA .top .right,  .plus-diaporama .boxA .top .right{background-image:url(../../../images/boxes/imb/tRight.gif)}
.boxA .content,  .plus-diaporama .boxA .content{border-left:1px solid #e3e5fe;border-right:1px solid #e3e5fe}
.boxA .bottom .left, .plus-diaporama .boxA .bottom .left{background-image:url(../../../images/boxes/imb/bLeft.gif)}
.boxA .bottom .middle, .plus-diaporama .boxA .bottom .middle{background-image:url(../../../images/boxes/imb/bMiddle.gif)}
.boxA .bottom .right, .plus-diaporama .boxA .bottom .right{background-image:url(../../../images/boxes/imb/bRight.gif)}
.user a,.tools a,.plus a,.file .content1 a,.file .content2 a,.list a,.prestataire a,.masterPage a,.post a{color:#383cff}
.user a:hover,.tools a:hover,.plus a:hover,.file .content1 a:hover,.file .content2 a:hover,.list a:hover,.prestataire a:hover,.masterPage a:hover,.post a:hover{color:#585bff}
.image_small_no-link,.image_medium_no-link,.image_medium,.image_small{border:1px solid #383cff}
.image_medium:hover,.image_small:hover{border:1px solid #585bff}
.whoswho .pagenavigator a{color:#646464}
.whoswho .pagenavigator a:hover{color:#585bff}
#left #lmenu ul ul, #left #lmenu ul li {border-top:1px solid #585bff}
#lmenu li a{background:transparent url('../../../images/arrows/imb/arrowC.gif') no-repeat 0% 4px}
#lmenu .linkOff {background:transparent url('../../../images/arrows/imb/arrowD.gif') no-repeat 5px 50%}
#lmenu .linkOff:hover {background:transparent url('../../../images/arrows/imb/arrowD.gif') no-repeat 2% 10px;background-color:#9598ff;color:#0d106f}
#lmenu .linkOff-noArrow{background:none}
#lmenu .linkOff-noArrow:hover {background-color:#9598ff;color:#0d106f}
#lmenu .linkOn {background:transparent url('../../../images/arrows/imb/arrowA.gif') no-repeat 2% 10px;background-color:#9598ff}
#lmenu .linkOn-noArrow{background-color:#9598ff}
#lmenu .colorDefault2:hover{font-weight:bold}
#lmenu .sbLinkOn{background:transparent url('../../../images/arrows/imb/arrowA.gif') no-repeat 0% 6px}
.masterPage .content1 .one .boxA .content h4{color:#0d106f}
.masterPage .content4 {background:transparent url('../../../images/boxes/imb/onlyBackground.jpg') no-repeat}
.masterPage .content1 .one .boxA,.masterPage .content1 .one .boxA .content{background-color:#e4e6ff}
.file .content1 .top{background:transparent url('../../../images/boxes/imb/specials/file/top.gif') no-repeat top left}
.file .content1 .middle{background:transparent url('../../../images/boxes/imb/specials/file/middle.gif') repeat-y}
.file .content1 .bottom{background:transparent url('../../../images/boxes/imb/specials/file/bottom.gif') no-repeat bottom left}
.file .content1 ul li .off{background:transparent url('../../../images/arrows/imb/arrowD.gif') no-repeat 0 3px}
.file .content1 ul li .on{background:transparent url('../../../images/arrows/imb/arrowA.gif') no-repeat 0 3px;color:#0d106f}
.minisite .post .minisite-sommaire .title-sommaire{color:#0d106f}
.minisite .mMenu ul li a{background:transparent url('../../../images/menus/minisite/imb/off.gif') no-repeat 0 10px}
.minisite .mMenu ul li .on,.minisite .mMenu ul li a:hover{background:transparent url('../../../images/menus/minisite/imb/on.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu ul li .on-first{background:transparent url('../../../images/menus/minisite/imb/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu ul li .on-last{background:transparent url('../../../images/menus/minisite/imb/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/imb/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/imb/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu2 ul li a{background:transparent url('../../../images/menus/minisite/imb/2/off.gif') no-repeat 0 10px}
.minisite .mMenu2 ul li .on,.minisite .mMenu2 ul li a:hover{background:transparent url('../../../images/menus/minisite/imb/2/on.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu2 ul li .on-first{background:transparent url('../../../images/menus/minisite/imb/2/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu2 ul li .on-last{background:transparent url('../../../images/menus/minisite/imb/2/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu2 ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/imb/2/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu2 ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/imb/2/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu3 ul li a{background:transparent url('../../../images/menus/minisite/imb/3/off.gif') no-repeat 0 10px}
.minisite .mMenu3 ul li .on,.minisite .mMenu3 ul li a:hover{background:transparent url('../../../images/menus/minisite/imb/3/on.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu3 ul li .on-first{background:transparent url('../../../images/menus/minisite/imb/3/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu3 ul li .on-last{background:transparent url('../../../images/menus/minisite/imb/3/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu3 ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/imb/3/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu3 ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/imb/3/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu4 ul li a{background:transparent url('../../../images/menus/minisite/imb/4/off.gif') no-repeat 0 10px}
.minisite .mMenu4 ul li .on,.minisite .mMenu4 ul li a:hover{background:transparent url('../../../images/menus/minisite/imb/4/on.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu4 ul li .on-first{background:transparent url('../../../images/menus/minisite/imb/4/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu4 ul li .on-last{background:transparent url('../../../images/menus/minisite/imb/4/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu4 ul li .off-first:hover{background:transparent url('../../../images/menus/minisite/imb/4/on-first.gif') no-repeat bottom;color:#585bff}
.minisite .mMenu4 ul li .off-last:hover{background:transparent url('../../../images/menus/minisite/imb/4/on-last.gif') no-repeat bottom;color:#585bff}
.minisite .file .content1 .top{background:transparent url('../../../images/boxes/imb/specials/minisite/top.gif') no-repeat top left}
.minisite .file .content1 .top2{background:none;border-top:1px solid #9598ff}
.minisite .file .content1 .middle{background:transparent url('../../../images/boxes/imb/specials/minisite/middle.gif') repeat-y}
.minisite .file .content1 .bottom{background:transparent url('../../../images/boxes/imb/specials/minisite/bottom.gif') no-repeat bottom left}
.post .column .sBox .second .boxA .content .title,.post .box .second .boxA .content .title{color:#585bff}
.default h1{color:#0d106f}
.default h4{color:#585bff}
.post table{border:1px solid #0d106f}
.post table .th{color:#0d106f;border:1px solid #0d106f;background-color:#9598ff}
.post table .th_hard{color:#0d106f;border:1px solid #0d106f;background-color:#585bff}
.post table .td_light{color:#ffffff;border:1px solid #0d106f;background-color:#585bff}
.post table .td_hard{color:#ffffff;border:1px solid #0d106f;background-color:#383cff}
.post table td,.post table .td{border:1px solid #0d106f}
.list .content2 .boxA .content .overview a.thumb:hover,.list .content2 .boxA .content .overview a.medium:hover,.list .content2 .boxA .content .overview a.big:hover{border:1px solid #0d106f}
.pagenavigator a.next:hover,.pagenavigator a.previous:hover{background:transparent url('../../../images/pagination/imb/btnBackground.gif') no-repeat}
.pagenavigator .pages .current{background:transparent url('../../../images/pagination/imb/pageCurrent.gif') no-repeat}
.pagenavigator .pages .other a:hover{color:#585bff}
.btn-top-page:hover{background:transparent url('../../../images/btns/imb/btn-top-page-on.gif')}
a.btn:hover .leftBtn{background:url('../../../images/btns/imb/btn-left-on.gif')}
a.btn:hover .labelBtn{background:url('../../../images/btns/imb/btn-on.gif')}
a.btn:hover .rightBtn{background:url('../../../images/btns/imb/btn-right-on.gif')}
a.btn:hover .right-arrow{background:url('../../../images/btns/imb/btn-right-arrow-on.gif')}
#divLightboxContent .lightbox-close:hover{background:transparent url('../../../images/btns/imb/close.gif') no-repeat}
.btn-next-page:hover{background:transparent url('../../../images/btns/imb/btn-next.gif') no-repeat}
.btn-previous-page:hover{background:transparent url('../../../images/btns/imb/btn-previous.gif') no-repeat}
#diaporama .diaporama_previous:hover{background:url('../../../images/btns/imb/diaporama-previous-on.png')}
#diaporama .diaporama_next:hover{background:url('../../../images/btns/imb/diaporama-next-on.png')}
#diaporama_lb .diaporama_previous:hover{background:url('../../../images/btns/imb/diaporama-previous-on.png')}
#diaporama_lb .diaporama_next:hover{background:url('../../../images/btns/imb/diaporama-next-on.png')}
#diaporama_inc .diaporama_previous:hover{background:url('../../../images/btns/imb/diaporama-previous-on.png')}
#diaporama_inc .diaporama_next:hover{background:url('../../../images/btns/imb/diaporama-next-on.png')}
#diaporama_carousel .mycarousel.slide-next, #diaporama_carousel_inc .mycarousel.slide-next {background:url('../../../images/btns/imb/btn-slide-right.gif')}
#diaporama_carousel .mycarousel.slide-next:hover, #diaporama_carousel_inc .mycarousel.slide-next:hover {background:url('../../../images/btns/imb/btn-slide-right-on.gif')}
#diaporama_carousel .mycarousel.slide-prev, #diaporama_carousel_inc .mycarousel.slide-prev {background:url('../../../images/btns/imb/btn-slide-left.gif')}
#diaporama_carousel .mycarousel.slide-prev:hover, #diaporama_carousel_inc .mycarousel.slide-prev:hover {background:url('../../../images/btns/imb/btn-slide-left-on.gif')}
#diaporama_carousel .mycarousel.slide-next.off, #diaporama_carousel_inc .mycarousel.slide-next.off {background:url('../../../images/btns/btn-slide-right-off.gif')}
#diaporama_carousel .mycarousel.slide-prev.off, #diaporama_carousel_inc .mycarousel.slide-prev.off {background:url('../../../images/btns/btn-slide-left-off.gif')}
#vid_carousel div.item .item_small.on, #diaporama_carousel div.item .item_small.on, #diaporama_carousel_inc div.item .item_small.on{border:4px solid #9598ff}
#diaporama_carousel div.item:hover .item_small{border:4px solid #9598ff}
#vid_carousel div.item:hover .item_small,#diaporama_carousel_inc div.item:hover .item_small{border:4px solid #9598ff}
.diaporama_lb_legend a{color:#383cff}
#vid_carousel .mycarousel.slide-next {background:url('../../../images/btns/imb/btn-slide-right-video.gif')}
#vid_carousel .mycarousel.slide-next:hover {background:url('../../../images/btns/imb/btn-slide-right-on-video.gif')}
#vid_carousel .mycarousel.slide-prev {background:url('../../../images/btns/imb/btn-slide-left-video.gif')}
#vid_carousel .mycarousel.slide-prev:hover {background:url('../../../images/btns/imb/btn-slide-left-on-video.gif')}
#vid_carousel .mycarousel.slide-next.off {background:url('../../../images/btns/imb/btn-slide-right-off-video.gif')}
#vid_carousel .mycarousel.slide-prev.off {background:url('../../../images/btns/imb/btn-slide-left-off-video.gif')}