#menu .li1 a{background-image:url(../../images/menus/header/1/_fr/li1Off.jpg)}
#menu .li2 a{background-image:url(../../images/menus/header/1/_fr/li2Off.jpg)}
#menu .li3 a{background-image:url(../../images/menus/header/1/_fr/li3Off.jpg)}
#menu .li4 a{background-image:url(../../images/menus/header/1/_fr/li4Off.jpg)}
#tools #auth .li1 a{background-image:url(../../images/btns/_fr/identify.jpg)}
#tools #auth .li2 a{background-image:url(../../images/btns/_fr/register.jpg)}
#tools #auth .li1 .on{background-image:url(../../images/btns/_fr/yourProfil.jpg)}
#tools #auth .li2 .on{background-image:url(../../images/btns/_fr/disconnect.jpg)}
.homePage .topLeft .information .top .title{background:url('../../images/menus/home/information/_fr/title.jpg') no-repeat}
.btn-mode-text{display:inline-block;background:transparent url('../../images/btns/_fr/onlyText-off.gif') no-repeat;width:58px;_fr/height:22px}
.btn-mode-text:hover{background:transparent url('../../images/btns/_fr/onlyText-on.gif') no-repeat}
.btn-mode-text-on{display:inline-block;background:transparent url('../../images/btns/_fr/onlyText-on.gif') no-repeat;width:58px;height:22px}
.btn-mode-image{display:inline-block;background:transparent url('../../images/btns/_fr/onlyImage-off.gif') no-repeat;width:58px;height:22px}
.btn-mode-image:hover{background:transparent url('../../images/btns/_fr/onlyImage-on.gif') no-repeat}
.btn-mode-image-on{display:inline-block;background:transparent url('../../images/btns/_fr/onlyImage-on.gif') no-repeat;width:58px;height:22px}
.btn-ebyPersoCreate{background:transparent url('../../images/btns/_fr/ebyPersoCreate.jpg') no-repeat}
.btn-ebyPersoAddContent{background:transparent url('../../images/btns/_fr/ebyPersoAddContent.jpg') no-repeat}