.column .widget{width:310px;overflow:hidden}
.widget .widget-head{background:url(../images/boxes/ebyperso/small/top.gif) no-repeat top;overflow:hidden;height:24px}
.widget .widget-content form{margin:0;padding:0}
.widget .widget-edit-content .block{margin-top:10px;clear:both;overflow:hidden;height:100%}
.contact .widget-edit-content select,.widget .widget-edit-content .text,.widget .widget-content  select,.widget .widget-content  .text{height:17px;border:1px solid #b7b7b7;width:162px;margin-bottom:4px;padding-top:5px;padding-left:4px;padding-right:4px}
.contact .widget-edit-content select,.widget .widget-content  select{height:26px;width:172px;padding-right:0}
.widget .widget-edit-content .lbwidget,.widget .widget-content label{display:inline-block;width:65px;color:#ef5813}
.widget.annuaire .widget-content label{display:block; float:left; height:28px; line-height:28px}
.widget.annuaire .widget-content fieldset{border:0;margin:0;padding:0}
.widget.annuaire .widget-content legend{text-indent:-99999px;margin-top:-99999px;position:absolute}
.widget .widget-content .widget-overview{padding:18px;padding-top:0;margin-top:20px;overflow:hidden;height:100%}
.widget .widget-title h3{padding:0;margin:0;margin-top:5px;color:white;text-transform:uppercase;font-size:1em;font-weight:bold}
.widget .widget-title .subTitle{font-size:0.7em;margin-left:34px;display:block}
.widget .widget-title,.widget .widget-content{background:url(../images/boxes/ebyperso/small/middle.gif) repeat-y;padding-left:18px;padding-right:18px;overflow:hidden;height:100%;font-size:0.8em}
.widget .widget-content p{margin:0;padding:0}
.widget .widget-content .widget-content-column{width:50%;float:left;font-size:0.8em}
.widget .widget-content .widget-content-column.weather{margin-bottom:20px;height: 270px;}
.widget .widget-content .widget-content-column .city{font-weight:bold;display:block;font-size:1.2em}
.widget .widget-content .widget-content-column .hour_text{text-transform:uppercase;color:#ef5813;display:block;font-size:1em}
.widget .widget-content .widget-content-column .hour_data{font-size:1em;display:block}
.widget .widget-content .widget-content-column .weather_data{font-size:0.9em;border:1px solid #badbfe;background-color:white;width:105px;margin:auto;margin-top:10px;padding:15px 0;}
.widget .widget-content .widget-content-column .degree{color:#78441d;margin-top:10px;display:block}
.meteo .widget-content .widget-content-column{text-align:center;overflow:hidden;height:100%}
.widget .widget-edit-head{background:url(../images/boxes/ebyperso/edit/top.gif) no-repeat top;overflow:hidden;height:30px}
.widget .widget-edit-bottom{background:url(../images/boxes/ebyperso/edit/bottom.gif) no-repeat;height:24px}
.widget .widget-edit-content{background:url(../images/boxes/ebyperso/edit/middle.gif) repeat-y;padding-left:18px;padding-right:18px;overflow:hidden;font-size:0.8em;padding-bottom:18px}
.widget .widget-bottom{background:url(../images/boxes/ebyperso/small/bottom.gif) no-repeat;height:24px}
.color-default .widget-title  h3{padding-left:10px;padding-right:10px;padding-top:3px;padding-bottom:2px;float:left}
.meteo .widget-title  h3,.bourse .widget-title  h3,.contact .widget-title  h3,.pagesview .widget-title  h3,.annuaire .widget-title  h3{color:#69a5e3;font-size:1.2em;font-weight:bold;padding-left:5px}
.meteo .widget-title  h3 img,.bourse .widget-title  h3 img,.contact .widget-title  h3 img,.pagesview .widget-title  h3 img,.annuaire .widget-title  h3 img{margin:0;padding:0}
.widget .widget-edit-content .submit-btn-go,.annuaire form .submit-btn-go{margin-left:64px}
.widget .widget-edit-content .search{background-color:white;padding:5px 10px}
.pagesview .widget-content .widget-overview{font-size:0.8em}
.pagesview .widget-content .widget-overview .pv-item{line-height:15px}
#container #middle .pagesview .widget-content .widget-overview a{text-decoration:underline;	text-transform:uppercase}
.pagesview .widget-content .widget-overview .rub{/display:inline-block;margin-right:2px;text-transform:uppercase}
.bourse .widget-content .widget-overview{margin-top:12px;padding-left:27px}
.actu .widget-content{padding:0}
.actu .widget-content .widget-overview,.actu .widget-content .widget-overview .actu-ebyperso a{color:#0d4d8a}
.actu .widget-content .widget-overview .actu-ebyperso a:hover{color:#2576c7}
.actu .widget-content .actu-ebyperso{clear:both;padding-bottom:10px;background:transparent url('../images/arrows/arrowD.gif') no-repeat 0% 3px;padding-left:15px;overflow:hidden}
.actu .widget-content .actu-ebypersoSmall{font-size:0.8em;color:#646464}
.contact .widget-content{padding-right:0px}
.contact .widget-edit-content{padding-left:10px;padding-right:10px}
.contact .widget-edit-content .result{overflow:hidden;height:100%;position:relative}
.contact .widget-edit-content .result .overview{display:block;overflow:hidden;height:100%;margin-bottom:5px;width:290px}
.contact .widget-edit-content .result .overview .item-left{display:block;float:left;overflow:hidden;height:100%}
.contact .widget-edit-content .result .overview .item-middle{display:block;float:left;padding-top:5px;padding-left:5px;padding-right:5px;width:220px}
.contact .widget-edit-content .result .overview .item-left img{padding-top:5px;vertical-align:bottom}
.contact .widget-edit-content .result .overview .item-right{display:block;clear:both;overflow:hidden;height:100%;width:255px;padding-right:5px}
.contact .widget-edit-content .result .overview .item-right .btn{float:right}
.contact .widget-content .widget-overview{padding-left:10px;padding-right:10px;position:relative;z-index:10}
.contact .widget-content .widget-overview .person{padding:5px;overflow:hidden;height:100%;position:relative;margin-bottom:10px;z-index:10}
.contact .widget-content .widget-overview .person.plusfavorite{background-color:#f8fcff}
.contact .widget-content .widget-overview .person .btn-person-details{background:url(../images/pictos/ebyperso_plus.gif) no-repeat;width:13px;height:13px;position:absolute;right:0;z-index:10}
.contact .widget-content .widget-overview .person.plusfavorite .btn-person-details{background:url(../images/pictos/ebyperso_less.gif) no-repeat}
.contact .widget-content .widget-overview .person .person-general{margin-bottom:15px;color:black;overflow:hidden;height:100%}
.contact .widget-content .widget-overview .person .person-general .first-informations{float:left;width:70%}
.contact .widget-content .widget-overview .person .person-general .person-logo{float:right;width:30%}
.contact .widget-content .widget-overview .person .person-general .name{font-size:1em;display:block}
.contact .widget-content .widget-overview .person .person-general .blue{font-weight:bold;display:block}
.contact .widget-content .widget-overview .person .person-general .job{font-size:0.9em;clear:both;display:block}
.contact .widget-content .widget-overview .person .person-phone{margin-bottom:15px;font-size:0.9em;overflow:hidden;height:100%}
.contact .widget-content .widget-overview .person .person-phone .number{font-weight:bold;color:#ef5813;float:left}
.contact .widget-content .widget-overview .person .person-phone .fax,.contact .widget-content .widget-overview .person .person-phone .mobile{float:right}
.contact .widget-content .widget-overview .person .person-phone .mail{text-transform:lowercase;float:left}
.contact .widget-content .widget-overview .person .person-address{font-size:0.8em;display:none}
.contact .widget-content .widget-overview .person.plusfavorite .person-address,.contact .widget-content .widget-overview .person .person-address .second-line,.contact .widget-content .widget-overview .person .person-address .third-line{display:block}
.contact .widget-content .widget-overview .person .person-address .first-line{font-weight:bold;display:block}
.contact .widget-content .widget-overview .person .person-assistant{display:none}
.contact .widget-content .widget-overview .person.plusfavorite .person-assistant{display:block}
.contact .widget-content .widget-overview .person .person-assistant .title{display:block;font-size:0.8em;font-weight:bold}
.contact .widget-content .widget-overview .person .person-assistant .informations{color:#2576c7;font-size:0.6em;display:block}
.widget .widget-content .blue{color:#2576c7}
.widget .widget-edit-content form{margin:0;padding:0}
.widget .widget-edit-content fieldset{border:0;margin:0;padding:0}
.widget .widget-edit-content fieldset legend{text-transform:uppercase;font-size:1.2em;font-weight:bold;padding:0px;margin:0px}
.widget .widget-edit-content .select{width:120px}
.widget .widget-edit-content a.btn{margin-left:5px}
.widget .widget-edit-content .submit-btn-small-grey{float:right;margin-right:15px}
#container #middle .userEbyperso{clear:both;padding-top:10px;font-size:0.9em;font-style:italic}
#container #middle .eby_perso .content2 .messageEbyperso{font-size:0.9em}
.actu .widget-content .widget-overview .actu-ebyperso.overview-communication a{color:#f96000}
.actu .widget-content .widget-overview .actu-ebyperso.overview-consolidation a{color:#0cb4e1}
.actu .widget-content .widget-overview .actu-ebyperso.overview-developpement-durable a,.actu .widget-content .widget-overview .actu-ebyperso.overview-developpement_durable a{color:#62a903}
.actu .widget-content .widget-overview .actu-ebyperso.overview-imb a{color:#383cff}
.actu .widget-content .widget-overview .actu-ebyperso.overview-informatique a{color:#15890a}
.actu .widget-content .widget-overview .actu-ebyperso.overview-innovation a{color:#006378}
.actu .widget-content .widget-overview .actu-ebyperso.overview-europe a{color:#d10101}
.actu .widget-content .widget-overview .actu-ebyperso.overview-controle-interne a,.actu .widget-content .widget-overview .actu-ebyperso.overview-controle_interne a{color:#8f0036}
.actu .widget-content .widget-overview .actu-ebyperso.overview-rh a{color:#8b02a8}
.actu .widget-content .widget-overview .actu-ebyperso.overview-finance a,.actu .widget-content .widget-overview .actu-ebyperso.overview-finances a{color:#a24aff}
.actu .widget-content .widget-overview .actu-ebyperso.overview-eby a{color:#0D4D8A}
.actu .widget-content .widget-overview .actu-ebyperso.overview-communication a:hover{color:#fc9a01}
.actu .widget-content .widget-overview .actu-ebyperso.overview-consolidation a:hover{color:#0db5e2}
.actu .widget-content .widget-overview .actu-ebyperso.overview-developpement-durable a:hover,.actu .widget-content .widget-overview .actu-ebyperso.overview-developpement_durable a:hover{color:#74ca05}
.actu .widget-content .widget-overview .actu-ebyperso.overview-imb a:hover{color:#585bff}
.actu .widget-content .widget-overview .actu-ebyperso.overview-informatique a:hover{color:#16ad06}
.actu .widget-content .widget-overview .actu-ebyperso.overview-innovation a:hover{color:#0184a2}
.actu .widget-content .widget-overview .actu-ebyperso.overview-europe a:hover{color:#fe0000}
.actu .widget-content .widget-overview .actu-ebyperso.overview-controle-interne a:hover,.actu .widget-content .widget-overview .actu-ebyperso.overview-controle_interne a:hover{color:#d22366}
.actu .widget-content .widget-overview .actu-ebyperso.overview-rh a:hover{color:#a410c4}
.actu .widget-content .widget-overview .actu-ebyperso.overview-finance a:hover,.actu .widget-content .widget-overview .actu-ebyperso.overview-finances a:hover{color:#ba78ff}
.actu .widget-content .widget-overview .actu-ebyperso.overview-eby a:hover{color:#2576C7}