<?php /* #?ini charset="utf-8"?

[InformationCollectionSettings]
EmailReceiver=

[SiteSettings]
SiteName=Intranet
SiteURL=dev.eby.local/en
LoginPage=embedded

[UserSettings]
RegistrationEmail=

[SiteAccessSettings]
RequireUserLogin=false
RelatedSiteAccessList[]=bouygues_gestion
RelatedSiteAccessList[]=fre
ShowHiddenNodes=false

[DesignSettings]
SiteDesign=bouygues_intranet
AdditionalSiteDesignList[]=base

[RegionalSettings]
Locale=eng-US
ContentObjectLocale=eng-US
SiteLanguageList[]
SiteLanguageList[]=eng-US
SiteLanguageList[]=fre-FR
TextTranslation=enabled

[FileSettings]
VarDir=var/bouygues

#[ContentSettings]
#TranslationList=eng-US
#TranslationList=fre-FR

[Session]
SessionNamePerSiteAccess=disabled
#SessionNamePrefix=eby

*/ ?>